.experiences-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
  /* background: linear-gradient(to bottom right, #ffffff, #eaf2f8); */
}

.experience-card {
  /* background: white; */
  background-color: var(--card-bg);
  color: var(--text-color);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-5px);
}

.experience-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.experience-info {
  padding: 1rem;
}

.experience-info h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--heading-color);
}

.experience-info h3 {
  margin-bottom: 0.5rem;
  color: var(--heading-color);
}

.tags {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  background-color: var(--accent-color);
  color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 500;
  white-space: nowrap;
}

.tag.dark-mode {
  background-color: var(--accent-color);
  color: #212;
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 500;
  white-space: nowrap;
}
