<div class="about-container fade-in">
  <img src="./assets/introPic.jpeg" alt="Vincent Onwe" class="profile-pic" />

  <div class="about-text">
    <h1>About Me</h1>
    <p>
      I'm Vincent Onwe, a recent Computer Science graduate passionate about merging software with physical systems
      and creating innovative web applications. My work spans robotics, computer vision, and full-stack web development.
      I’m seeking opportunities in early career or entry-level software engineering roles.
    </p>
  </div>
</div>
